
.container{
    margin-top: 5%;
    margin-left: 25%;
}
form{
    padding: 10px;
}
label{
    font-weight: 900;
}
h2{
    color: red;
    font-weight: 700;
}
.a{
    margin-top: 10px;
    margin-left: 100px;
}
button{
    width: 60%;
    margin-left: 60px;
    border-radius: 40px;
    font-size: 20px;
}