
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h2>User Signup Form</h2>
                    <h6>♥ Fill Free To Signup ♥</h6>  
                </div>
                <form [formGroup]="signupform">
                    <div class="mb-3">
                        <label  class="form-label">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                      </div>
                  <div class="mb-3">
                    <label  class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Password</label>
                    <input type="text" class="form-control" formControlName="password">
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="postuser()">Signup</button>
                  <div class="a">
                    <a routerLink="/login">Already Member To Login</a>
                  </div>
                </form> 
            </div>
            
        </div>
    </div>
</div>